# Git
.git
.gitignore

# Dependencies
node_modules

# Next.js build output
.next
out

# Testing
coverage/
.nyc_output/
cypress/videos/
cypress/screenshots/
playwright-report/
test-results/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Docker
Dockerfile
docker-compose*.yml
.docker/

# Misc
*.md
*.log
.env*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
