azure_region     = "eastus"
project_name     = "devops"
environment      = "prod"
vnet_cidr        = "10.1.0.0/16"
backend_image    = "devopsacrshravan.azurecr.io/devops-backend:latest"
frontend_image   = "devopsacrshravan.azurecr.io/devops-frontend:latest"
acr_login_server = "devopsacrshravan.azurecr.io"
acr_username     = "devopsacrshravan"
acr_password     = "YOUR_ACR_PASSWORD_HERE"
